@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&family=Yellowtail&display=swap');

*{
  margin: 0;
  padding: 0;
}

/* Common Style Of Every Button */


.btn-primary{
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px;
}

/* Banner Section Style */
.banner-section{
  background: rgba(255, 144, 14, 0.10);
  width: 100%;
  height: auto;
  padding: 40px 0px;
}
.navigation-bar{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 0px;
  margin: 0px 150px 50px 150px;
}

nav > ul{
  list-style: none;
  display: flex;
  font-family: 'Work Sans', sans-serif;
}

nav li{
  margin-right: 48px;
}
.heading-logo{
  color: #131313;
  font-size: 40px;
  font-family: 'Work Sans', sans-serif;
}

.banner-pic{
  width: 1200px;
  height: auto;
  display: block;
  margin: auto;
}

.banner-text-area{
  text-align: center;
  margin-bottom: 50px;
}

.banner-heading{
  color: #131313;
  font-family: 'Work Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
}

.banner-description{
  color: #727272;
  font-family: 'Work Sans', sans-serif;
  font-size: smaller;
  margin-bottom: 25px;

}

/* Style Main Part */

/* Team */
.team-list-container{
  display: flex;
  align-items: center;
  padding: 50px 350px 0px 350px;
  margin-bottom: 169px;
}

.four-pic{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.quick-text-area{
  margin-left: 70px;
}

.quick-heading{
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
}

.quick-para{
  font-family: 'Work Sans', sans-serif;
  color: #727272;
  font-size: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}

#list-colour{
  color: #727272;
  font-weight: 500;
}

.ftr-primary{
  color: #FF900E;
  font-family: Work Sans;
  font-size: 25px;
  font-weight: 700;
}

.one, .two, .three, .four{
  width: 300px;
  height: 300px;
}

/* Experience */

.experience-container{
  display: flex;
  padding: 0px 250px;
}

.exp-heading{
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;

}

.exp-para{
  color:  #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

.box1, .box2, .box3, .box4{
  width: 536px;
  height: 120px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 25px;
  margin-bottom: 20px;
  
}

.box1 .mobile{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box1 .mobile-para{
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.box2 .drag{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box2 .drag-para{
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.box3 .awsome{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box3 .awsome-para{
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.box4 .super{
  color: var(--dark-01, #131313);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.box4 .super-para{
  color: var(--dark-03, #727272);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; 
}

.exp-pic{
  margin-left: 60px;
}

.ten-plus-exp{
  width: 250px;
  height: 160px;
  padding: 10px;
  border-radius: 8px;
  background-color: #FF900E;
  color: white;
  text-align: center;
  position: relative;
  bottom: 160px;
  right: 60px;
}

.ten-heading{
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 50px;
  font-weight: 700;
  line-height: 40px;
  margin: 45px 0px 0px 0px;
}

.ten-para{
  color: #FFF;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
}

/* Some Facts */

.some-facts-heading{
  color:  #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

.some-facts-para{
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 146px;
}

.some-facts-description{
  margin-left: 240px;
}

.some-fact-cards-container{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 160px 200px 160px;
}

.award{
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 241.831px;
  height: 241.831px;
}

.cards-icon{
  margin-top: 45px;
}

.award-heading{
  color:  #424242;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 600;
}

.award-para{
  color: #727272;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
}



.projects{
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 241.831px;
  height: 241.831px;
}


.projects-heading{
  color:  #424242;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 600;
}

.projects-para{
  color: #727272;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
}



.clients{
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 241.831px;
  height: 241.831px;
}


.clients-heading{
  color:  #424242;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 600;
}

.clients-para{
  color: #727272;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
}


.email{
  align-items: center;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #FF900E;
  width: 241.831px;
  height: 241.831px;
}

.email-heading{
  color:  #424242;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 600;
}

.email-para{
  color: #727272;
  font-family: Work Sans;
  font-size: 15px;
  font-weight: 600;
}

/* Our Sponspors Style */

.sponsporse-description{
  text-align: center;
}

.sponspors-heading{
  color: #131313;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 24px;
}

.sponspors-para{
  color: #727272;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 50px;
}

.sponsporse-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 40px 130px 40px;
}

/* Footer Section style */

footer{
  width: 1420px;
  height: 100px;
  border-radius: 8px;
  background: #FFF4E7;
  margin: 0px 240px 216px 240px;
}

.footer-para{
  padding: 38px 410px 38px 410px;
  color:  #424242;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
}







